USE [master]
GO
/****** Object:  Database [DB_Petrol_Pump_Billing_App]    Script Date: 08-05-2026 13:14:35 ******/
CREATE DATABASE [DB_Petrol_Pump_Billing_App]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_Petrol_Pump_Billing_App', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db_Petrol_Pump_Billing_App.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_Petrol_Pump_Billing_App_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\db_Petrol_Pump_Billing_App_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_Petrol_Pump_Billing_App].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_Petrol_Pump_Billing_App]
GO
/****** Object:  Table [dbo].[tb_Customer]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Customer](
	[Customer_ID] [int] NOT NULL,
	[Customer_Name] [varchar](80) NOT NULL,
	[Date] [date] NOT NULL,
	[Mobile_No] [numeric](10, 0) NOT NULL,
	[Vehicle_Type] [nvarchar](20) NULL,
	[Vehicle_Number] [nvarchar](10) NULL,
 CONSTRAINT [PK_tb_Customer] PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_CustomerSale]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_CustomerSale](
	[Sale_ID] [int] NOT NULL,
	[Customer_ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Fuel_Type] [varchar](10) NOT NULL,
	[Quantity] [numeric](5, 0) NOT NULL,
	[Price_P_L] [money] NOT NULL,
	[Total_Bill] [money] NOT NULL,
	[Grand_Total] [money] NOT NULL,
	[Payment_Mode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sale_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DailySale]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DailySale](
	[Sale_ID] [int] NOT NULL,
	[Staff_ID] [int] NOT NULL,
	[Staff_Name] [varchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Time] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sale_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_DailySale_Payment]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_DailySale_Payment](
	[Sale_PID] [int] NOT NULL,
	[Sale_ID] [int] NOT NULL,
	[P_Quantity] [int] NOT NULL,
	[P_Price_Per_Lt] [money] NOT NULL,
	[P_Total_Bill] [money] NOT NULL,
	[D_Quantity] [int] NOT NULL,
	[D_Price_Per_Lt] [money] NOT NULL,
	[D_Total_Bill] [money] NOT NULL,
	[PP_Quantity] [int] NOT NULL,
	[PP_Price_Per_Lt] [money] NOT NULL,
	[PP_Total_Bill] [money] NOT NULL,
	[Grand_Total] [money] NOT NULL,
	[Cash] [money] NOT NULL,
	[Online] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Sale_PID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Dealer]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Dealer](
	[Dealer_Id] [int] NOT NULL,
	[Company_Name] [nvarchar](50) NOT NULL,
	[Date] [date] NOT NULL,
	[Mobile_No] [numeric](12, 0) NOT NULL,
	[Alt_Mobile_No] [numeric](12, 0) NULL,
	[Aadhar_No] [numeric](14, 0) NULL,
	[Pan_No] [nvarchar](14) NULL,
	[Bank_IFC] [nvarchar](15) NULL,
	[Bank_Account_No] [nchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Dealer_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order_Details]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order_Details](
	[Order_ID] [int] NOT NULL,
	[Dealer_ID] [int] NOT NULL,
	[Order_Date] [date] NOT NULL,
	[GrandTotal_Bill] [money] NOT NULL,
	[Paid_Amount] [money] NOT NULL,
	[Remaining_Amt] [money] NOT NULL,
	[Status] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order_Payment]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order_Payment](
	[Pay_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[PayDate] [date] NOT NULL,
	[Grand_Total] [money] NOT NULL,
	[Amt_Paid_Today] [money] NOT NULL,
	[Pay_Mode] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Pay_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Order_Purchase]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Order_Purchase](
	[Order_P_ID] [int] NOT NULL,
	[Order_ID] [int] NOT NULL,
	[Fuel_Type] [varchar](50) NOT NULL,
	[Quantity] [int] NOT NULL,
	[Pur_Price] [money] NOT NULL,
	[Total] [money] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_P_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Rate_Setting]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Rate_Setting](
	[Rate_ID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Petrol_P_Price] [money] NOT NULL,
	[Petrol_S_Price] [money] NOT NULL,
	[Diesel_P_Price] [money] NOT NULL,
	[Diesel_S_Price] [money] NOT NULL,
	[PPetrol_P_Price] [money] NOT NULL,
	[PPetrol_S_Price] [money] NOT NULL,
	[Satus] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Rate_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_ShiftAllot]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_ShiftAllot](
	[Shift_ID] [int] NOT NULL,
	[Staff_ID] [int] NOT NULL,
	[Designation] [nvarchar](20) NOT NULL,
	[ShiftStart_Date] [date] NOT NULL,
	[ShiftEnd_Date] [date] NOT NULL,
	[Shift_Name] [varchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Shift_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_Staff_Details]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_Staff_Details](
	[Staff_ID] [int] NOT NULL,
	[Staff_Name] [varchar](50) NOT NULL,
	[Joining_Date] [date] NOT NULL,
	[Mobile_No] [numeric](12, 0) NOT NULL,
	[Aadhar_No] [numeric](18, 0) NOT NULL,
	[Pan_No] [nvarchar](12) NOT NULL,
	[Bank_IFC] [nvarchar](15) NOT NULL,
	[Bank_Account] [nchar](20) NOT NULL,
	[Address] [nvarchar](100) NOT NULL,
	[Designation] [nvarchar](40) NOT NULL,
	[Relieving_Date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[Staff_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tb_User]    Script Date: 08-05-2026 13:14:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tb_User](
	[User_ID] [int] NOT NULL,
	[Role] [nvarchar](10) NOT NULL,
	[Username] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](9) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tb_CustomerSale]  WITH CHECK ADD  CONSTRAINT [tb_CustomerFKtb_CustomerSale] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[tb_Customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[tb_CustomerSale] CHECK CONSTRAINT [tb_CustomerFKtb_CustomerSale]
GO
ALTER TABLE [dbo].[tb_DailySale]  WITH CHECK ADD  CONSTRAINT [tb_Staff_DetailsFKtb_DailySale] FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[tb_Staff_Details] ([Staff_ID])
GO
ALTER TABLE [dbo].[tb_DailySale] CHECK CONSTRAINT [tb_Staff_DetailsFKtb_DailySale]
GO
ALTER TABLE [dbo].[tb_DailySale_Payment]  WITH CHECK ADD  CONSTRAINT [tb_DailySaleFKtb_DailySale_Payment] FOREIGN KEY([Sale_ID])
REFERENCES [dbo].[tb_DailySale] ([Sale_ID])
GO
ALTER TABLE [dbo].[tb_DailySale_Payment] CHECK CONSTRAINT [tb_DailySaleFKtb_DailySale_Payment]
GO
ALTER TABLE [dbo].[tb_Order_Details]  WITH CHECK ADD  CONSTRAINT [tb_DealerFKtb_Order_Details] FOREIGN KEY([Dealer_ID])
REFERENCES [dbo].[tb_Dealer] ([Dealer_Id])
GO
ALTER TABLE [dbo].[tb_Order_Details] CHECK CONSTRAINT [tb_DealerFKtb_Order_Details]
GO
ALTER TABLE [dbo].[tb_Order_Payment]  WITH CHECK ADD  CONSTRAINT [tb_Order_DetailsFKtb_Order_Payment] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[tb_Order_Details] ([Order_ID])
GO
ALTER TABLE [dbo].[tb_Order_Payment] CHECK CONSTRAINT [tb_Order_DetailsFKtb_Order_Payment]
GO
ALTER TABLE [dbo].[tb_Order_Purchase]  WITH CHECK ADD  CONSTRAINT [tb_Order_DetailsFKtb_Order_Purchase] FOREIGN KEY([Order_ID])
REFERENCES [dbo].[tb_Order_Details] ([Order_ID])
GO
ALTER TABLE [dbo].[tb_Order_Purchase] CHECK CONSTRAINT [tb_Order_DetailsFKtb_Order_Purchase]
GO
ALTER TABLE [dbo].[tb_ShiftAllot]  WITH CHECK ADD  CONSTRAINT [tb_Staff_DetailsFKtb_ShiftAllot] FOREIGN KEY([Staff_ID])
REFERENCES [dbo].[tb_Staff_Details] ([Staff_ID])
GO
ALTER TABLE [dbo].[tb_ShiftAllot] CHECK CONSTRAINT [tb_Staff_DetailsFKtb_ShiftAllot]
GO
USE [master]
GO
